<html>
  <head>
    <title>I. Introduction</title>
    <link rel="stylesheet" type="text/css" href="quiz.css" />
  </head>
  <body>
    <div class="header">
      <div>Name:</div>
      <div>SID:</div>
    </div>
    <h1>Quiz 1</h1>
    <p class="instructions">
      INSERT INSTRUCTIONS HERE.
    </p>
    <%= yield %>
  </body>
</html>
